html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

ol,
ul {
  list-style: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: none;
}

button,
[role='button'],
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  vertical-align: inherit;
  width: auto;
}

iframe {
  border: 0;
}

img {
  display: block;
  height: auto;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  width: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
  font-smooth: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
}

html,
body {
  position: relative;
}

a svg,
button * {
  pointer-events: none;
}

/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

:root {
  --white: #fff;
  --neutral-100: #f8f9fa;
  --neutral-200: #e8f0fe;
  --neutral-300: #E2E2E2;
  --neutral-400: #595959;
  --neutral-500: #2C2C2C;
  --neutral-800: #1F1F1F;
  --neutral-900: #1A1A1A;
  --primary-500: #00B172;

  --breakpoint-main: 52.5rem; /* 840px */
  --wrapper: 55rem; /* 880px */
  --wrapper-padding: 1rem; /* 24px */
}

/* *************************************************************** */
/*                      Globals                                    */
/* *************************************************************** */

html {
  font-family: 'Helvetica', Verdana , sans-serif;
  color: var(--neutral-900);
  font-size: 125%;
  font-weight: 300;
  line-height: 1.75;
}

h1, h2, h3, h4, h5 {
  margin: 1rem 0 1.38rem;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem; /* 50px */
  font-weight: 700;
}

h2 {
  font-size: 2.441rem; /* 50px */
}

h3 {
  font-size: 1.953rem; /* 50px */
  font-weight: 700;
}

h4{
  font-size: 1.563rem;
  font-weight: 700;
}

h5 {
  font-size: 1.25rem;
}

small, .text_small {
  font-size: 0.8rem;
}

.icon-medium{
  max-width: 104px;
}

b, strong{
    font-weight: 700;
}

a{
  text-decoration: none;
  color: var(--neutral-900);
}

.center{
  text-align: center;
}

/* *************************************************************** */
/*                          Wrapper                                */
/* *************************************************************** */

.wrapper {
    display: block;
    padding: 0 var(--wrapper-padding);
    width: 100%;
  }
  
  .wrapper-max {
    margin: 0 auto;
    max-width: var(--wrapper);
  }

/* *************************************************************** */
/*                           Header                                */
/* *************************************************************** */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    height: 80px;
    width:100%;
    position: fixed;
    top: 0;
    background-color: var(--white);
}
.logo{
  max-width: 10rem;
}
.header__nav{
  display: flex;
  gap: 2rem;
}

/* *************************************************************** */
/*                           Hero.                                 */
/* *************************************************************** */

.hero{
  background-image: url(/assets/img/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 80px);
  margin-top:80px;
}

.hero__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.hero__title{
  color: var(--white);
}

.hero__subtitle{
  color: var(--white);
}


.benefits{
  padding: 4rem 0;
}

.benefits h4{
  color: #00B172;
}

.benefits__content{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
  margin-top: 3rem;
}

.benefits__card{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100%/3);
}

.underline--primary{
  text-decoration: underline #00B172;

}
.underline--white{
text-decoration: underline var(--white);
}



.actions{
  background-color: #00B172;
  color: var(--white);
  padding: 3rem 0;
}
.actions__content{
  display: flex;
  align-items: center;
}

.actions__content__flex{
  width: calc(100%/3);
}

.spotify-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
}